.mediaViewInfo {
	--web-view-name: Custom Size – 1;
	--web-view-id: Custom_Size__1;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Custom_Size__1;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Custom_Size__1 {
	position: absolute;
	width: 1280px;
	height: 800px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Custom Size – 1;
	--web-view-id: Custom_Size__1;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#Group_1 {
	position: absolute;
	width: 1280px;
	height: 802px;
	left: 0px;
	top: -1px;
	overflow: visible;
}
#Group_27 {
	position: absolute;
	width: 75px;
	height: 67px;
	left: 0px;
	top: 537px;
	overflow: visible;
}
#Rectangle_23 {
	fill: rgba(5,25,35,1);
}
.Rectangle_23 {
	position: absolute;
	overflow: visible;
	width: 75px;
	height: 67px;
	left: 0px;
	top: 0px;
}
#Group {
	position: absolute;
	width: 55px;
	height: 34px;
	left: 10.039px;
	top: 27px;
	overflow: visible;
}
#Emergency {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 56px;
	white-space: nowrap;
	text-align: left;
	font-family: Oswald;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(255,255,255,1);
}
#Contact {
	left: 7.637px;
	top: 13px;
	position: absolute;
	overflow: visible;
	width: 41px;
	white-space: nowrap;
	text-align: left;
	font-family: Oswald;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(255,255,255,1);
}
#Group_31 {
	position: absolute;
	width: 75px;
	height: 66px;
	left: 0px;
	top: 471px;
	overflow: visible;
}
#Rectangle_27 {
	fill: rgba(5,25,35,1);
}
.Rectangle_27 {
	position: absolute;
	overflow: visible;
	width: 75px;
	height: 66px;
	left: 0px;
	top: 0px;
}
#timeline_black_24dp {
	position: absolute;
	width: 24px;
	height: 24px;
	left: 26px;
	top: 15px;
	overflow: visible;
}
#Group_28 {
	position: absolute;
	width: 24px;
	height: 24px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_26 {
	fill: transparent;
}
.Rectangle_26 {
	position: absolute;
	overflow: visible;
	width: 24px;
	height: 24px;
	left: 0px;
	top: 0px;
}
#Group_30 {
	position: absolute;
	width: 22px;
	height: 12px;
	left: 1px;
	top: 6px;
	overflow: visible;
}
#Group_29 {
	position: absolute;
	width: 22px;
	height: 12px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_5 {
	fill: rgba(255,255,255,1);
}
.Path_5 {
	overflow: visible;
	position: absolute;
	width: 22px;
	height: 12px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#PT_Reports {
	left: 10px;
	top: 35px;
	position: absolute;
	overflow: visible;
	width: 56px;
	white-space: nowrap;
	text-align: left;
	font-family: Oswald;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(255,255,255,1);
}
#Group_32 {
	position: absolute;
	width: 75px;
	height: 66px;
	left: 0px;
	top: 207px;
	overflow: visible;
}
#Decomt_nav {
	position: absolute;
	width: 75px;
	height: 66px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_7 {
	fill: rgba(5,25,35,1);
}
.Rectangle_7 {
	position: absolute;
	overflow: visible;
	width: 75px;
	height: 66px;
	left: 0px;
	top: 0px;
}
#Decom {
	left: 19px;
	top: 38px;
	position: absolute;
	overflow: visible;
	width: 38px;
	white-space: nowrap;
	text-align: left;
	font-family: Oswald;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(255,255,255,1);
}
#warning_white_24dp {
	fill: rgba(255,255,255,1);
}
.warning_white_24dp {
	overflow: visible;
	position: absolute;
	width: 22px;
	height: 19px;
	left: 27px;
	top: 17px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_26 {
	position: absolute;
	width: 75px;
	height: 67px;
	left: 0px;
	top: 735px;
	overflow: visible;
}
#Rectangle_21 {
	fill: rgba(5,25,35,1);
}
.Rectangle_21 {
	position: absolute;
	overflow: visible;
	width: 75px;
	height: 67px;
	left: 0px;
	top: 0px;
}
#Containers {
	left: 15.856px;
	top: 39px;
	position: absolute;
	overflow: visible;
	width: 44px;
	white-space: nowrap;
	text-align: left;
	font-family: Oswald;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(255,255,255,1);
}
#lock_white_24dp {
	position: absolute;
	width: 24px;
	height: 24px;
	left: 26px;
	top: 15px;
	overflow: visible;
}
#Group_33 {
	position: absolute;
	width: 24px;
	height: 24px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_6 {
	fill: transparent;
}
.Path_6 {
	overflow: visible;
	position: absolute;
	width: 24px;
	height: 24px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_7 {
	opacity: 0.87;
	fill: transparent;
}
.Path_7 {
	overflow: visible;
	position: absolute;
	width: 24px;
	height: 24px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_8 {
	fill: rgba(255,255,255,1);
}
.Path_8 {
	overflow: visible;
	position: absolute;
	width: 16px;
	height: 21.003px;
	left: 4px;
	top: 0.997px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_25 {
	position: absolute;
	width: 75px;
	height: 67px;
	left: 0px;
	top: 671px;
	overflow: visible;
}
#Rectangle_22 {
	fill: rgba(5,25,35,1);
}
.Rectangle_22 {
	position: absolute;
	overflow: visible;
	width: 75px;
	height: 67px;
	left: 0px;
	top: 0px;
}
#Containers_ba {
	left: 11.964px;
	top: 37px;
	position: absolute;
	overflow: visible;
	width: 52px;
	white-space: nowrap;
	text-align: left;
	font-family: Oswald;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(255,255,255,1);
}
#account_circle_white_24dp {
	position: absolute;
	width: 24px;
	height: 24px;
	left: 26px;
	top: 15px;
	overflow: visible;
}
#Group_34 {
	position: absolute;
	width: 24px;
	height: 24px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_28 {
	fill: transparent;
}
.Rectangle_28 {
	position: absolute;
	overflow: visible;
	width: 24px;
	height: 24px;
	left: 0px;
	top: 0px;
}
#Group_35 {
	position: absolute;
	width: 20px;
	height: 20px;
	left: 2px;
	top: 2px;
	overflow: visible;
}
#Path_9 {
	fill: rgba(255,255,255,1);
}
.Path_9 {
	overflow: visible;
	position: absolute;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_36 {
	position: absolute;
	width: 75px;
	height: 66px;
	left: 0px;
	top: 273px;
	overflow: visible;
}
#Container_nav {
	position: absolute;
	width: 75px;
	height: 66px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_8 {
	fill: rgba(5,25,35,1);
}
.Rectangle_8 {
	position: absolute;
	overflow: visible;
	width: 75px;
	height: 66px;
	left: 0px;
	top: 0px;
}
#Containers_bj {
	left: 10px;
	top: 35px;
	position: absolute;
	overflow: visible;
	width: 56px;
	white-space: nowrap;
	text-align: left;
	font-family: Oswald;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(255,255,255,1);
}
#archive_white_24dp_1 {
	position: absolute;
	width: 24px;
	height: 24px;
	left: 26px;
	top: 15px;
	overflow: visible;
}
#Path_10 {
	fill: transparent;
}
.Path_10 {
	overflow: visible;
	position: absolute;
	width: 24px;
	height: 24px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_11 {
	fill: rgba(255,255,255,1);
}
.Path_11 {
	overflow: visible;
	position: absolute;
	width: 18px;
	height: 18px;
	left: 3px;
	top: 3px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_37 {
	position: absolute;
	width: 75px;
	height: 67px;
	left: 0px;
	top: 604px;
	overflow: visible;
}
#Group_24 {
	position: absolute;
	width: 75px;
	height: 67px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_24 {
	fill: rgba(5,25,35,1);
}
.Rectangle_24 {
	position: absolute;
	overflow: visible;
	width: 75px;
	height: 67px;
	left: 0px;
	top: 0px;
}
#Group_bq {
	position: absolute;
	width: 39px;
	height: 34px;
	left: 17.837px;
	top: 27px;
	overflow: visible;
}
#Submit {
	left: 1.624px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 37px;
	white-space: nowrap;
	text-align: left;
	font-family: Oswald;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(255,255,255,1);
}
#InTouch {
	left: 0px;
	top: 13px;
	position: absolute;
	overflow: visible;
	width: 40px;
	white-space: nowrap;
	text-align: left;
	font-family: Oswald;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(255,255,255,1);
}
#textsms_white_24dp {
	position: absolute;
	width: 24px;
	height: 24px;
	left: 26px;
	top: 10px;
	overflow: visible;
}
#Path_12 {
	fill: transparent;
}
.Path_12 {
	overflow: visible;
	position: absolute;
	width: 24px;
	height: 24px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_13 {
	fill: rgba(255,255,255,1);
}
.Path_13 {
	overflow: visible;
	position: absolute;
	width: 20px;
	height: 20px;
	left: 2px;
	top: 2px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_40 {
	position: absolute;
	width: 75px;
	height: 66px;
	left: 0px;
	top: 339px;
	overflow: visible;
}
#Inspection_nav {
	position: absolute;
	width: 75px;
	height: 66px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_9 {
	fill: rgba(5,25,35,1);
}
.Rectangle_9 {
	position: absolute;
	overflow: visible;
	width: 75px;
	height: 66px;
	left: 0px;
	top: 0px;
}
#Inspections {
	left: 7px;
	top: 38px;
	position: absolute;
	overflow: visible;
	width: 59px;
	white-space: nowrap;
	text-align: left;
	font-family: Oswald;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(255,255,255,1);
}
#assignment_FILL1_wght400_GRAD- {
	fill: rgba(255,255,255,1);
}
.assignment_FILL1_wght400_GRAD- {
	overflow: visible;
	position: absolute;
	width: 21.6px;
	height: 24px;
	left: 26.7px;
	top: 16px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_42 {
	position: absolute;
	width: 75px;
	height: 66px;
	left: 0px;
	top: 75px;
	overflow: visible;
}
#Asset_nav {
	position: absolute;
	width: 75px;
	height: 66px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_5 {
	fill: rgba(5,25,35,1);
}
.Rectangle_5 {
	position: absolute;
	overflow: visible;
	width: 75px;
	height: 66px;
	left: 0px;
	top: 0px;
}
#Assets {
	left: 21px;
	top: 35px;
	position: absolute;
	overflow: visible;
	width: 34px;
	white-space: nowrap;
	text-align: left;
	font-family: Oswald;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(255,255,255,1);
}
#Rectangle_20 {
	fill: rgba(255,187,0,1);
}
.Rectangle_20 {
	position: absolute;
	overflow: visible;
	width: 5px;
	height: 66px;
	left: 0px;
	top: 0px;
}
#build_white_24dp {
	position: absolute;
	width: 24px;
	height: 24px;
	left: 26px;
	top: 15px;
	overflow: visible;
}
#Path_19 {
	fill: transparent;
}
.Path_19 {
	overflow: visible;
	position: absolute;
	width: 24px;
	height: 24px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_20 {
	fill: rgba(255,255,255,1);
}
.Path_20 {
	overflow: visible;
	position: absolute;
	width: 22.025px;
	height: 21.903px;
	left: 0.963px;
	top: 1.097px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_41 {
	position: absolute;
	width: 75px;
	height: 66px;
	left: 0px;
	top: 141px;
	overflow: visible;
}
#Missiles_nav {
	position: absolute;
	width: 75px;
	height: 66px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_6 {
	fill: rgba(5,25,35,1);
}
.Rectangle_6 {
	position: absolute;
	overflow: visible;
	width: 75px;
	height: 66px;
	left: 0px;
	top: 0px;
}
#Missiles {
	left: 18px;
	top: 35px;
	position: absolute;
	overflow: visible;
	width: 41px;
	white-space: nowrap;
	text-align: left;
	font-family: Oswald;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(255,255,255,1);
}
#Path_18 {
	fill: rgba(255,255,255,1);
}
.Path_18 {
	overflow: visible;
	position: absolute;
	width: 24px;
	height: 24px;
	left: 25.5px;
	top: 12.93px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_1 {
	fill: rgba(239,239,239,1);
}
.Rectangle_1 {
	position: absolute;
	overflow: visible;
	width: 1205px;
	height: 75px;
	left: 75px;
	top: 0px;
}
#Group_20 {
	position: absolute;
	width: 70px;
	height: 30px;
	left: 105px;
	top: 23px;
	overflow: visible;
}
#Rectangle_10 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_10 {
	position: absolute;
	overflow: visible;
	width: 70px;
	height: 30px;
	left: 0px;
	top: 0px;
}
#MY_FACILITY_ {
	left: 8px;
	top: 1px;
	position: absolute;
	overflow: visible;
	width: 33px;
	white-space: nowrap;
	text-align: left;
	font-family: Oswald;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(0,0,0,1);
}
#Group_5 {
	position: absolute;
	width: 15px;
	height: 30px;
	left: 55px;
	top: 0px;
	overflow: visible;
}
#Rectangle_3 {
	position: absolute;
	width: 15px;
	height: 30px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_1 {
	fill: rgba(255,255,255,1);
}
.Path_1 {
	overflow: visible;
	position: absolute;
	width: 15px;
	height: 30px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_2 {
	overflow: visible;
	position: absolute;
	width: 15px;
	height: 30px;
	left: 0.5px;
	top: 0.5px;
	transform: matrix(1,0,0,1,0,0);
}
#arrow_drop_down_FILL0_wght400_ {
	fill: rgba(0,0,0,1);
}
.arrow_drop_down_FILL0_wght400_ {
	overflow: visible;
	position: absolute;
	width: 10px;
	height: 5px;
	left: 2.5px;
	top: 12.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_20_cn {
	position: absolute;
	width: 77px;
	height: 30px;
	left: 210px;
	top: 23px;
	overflow: visible;
}
#Rectangle_10_co {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_10_co {
	position: absolute;
	overflow: visible;
	width: 77px;
	height: 30px;
	left: 0px;
	top: 0px;
}
#MY_FACILITY__cp {
	left: 7px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 50px;
	white-space: nowrap;
	text-align: left;
	font-family: Oswald;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(0,0,0,1);
}
#Group_6 {
	position: absolute;
	width: 15px;
	height: 30px;
	left: 62px;
	top: 0px;
	overflow: visible;
}
#Rectangle_3_cr {
	position: absolute;
	width: 15px;
	height: 30px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_3 {
	fill: rgba(255,255,255,1);
}
.Path_3 {
	overflow: visible;
	position: absolute;
	width: 15px;
	height: 30px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_4 {
	overflow: visible;
	position: absolute;
	width: 15px;
	height: 30px;
	left: 0.5px;
	top: 0.5px;
	transform: matrix(1,0,0,1,0,0);
}
#arrow_drop_down_FILL0_wght400__cu {
	fill: rgba(0,0,0,1);
}
.arrow_drop_down_FILL0_wght400__cu {
	overflow: visible;
	position: absolute;
	width: 10px;
	height: 5px;
	left: 2.5px;
	top: 12.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_20_cv {
	position: absolute;
	width: 136px;
	height: 30px;
	left: 322px;
	top: 23px;
	overflow: visible;
}
#Rectangle_10_cw {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_10_cw {
	position: absolute;
	overflow: visible;
	width: 136px;
	height: 30px;
	left: 0px;
	top: 0px;
}
#MY_FACILITY__cx {
	left: 9px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 105px;
	white-space: nowrap;
	text-align: left;
	font-family: Oswald;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(0,0,0,1);
}
#Group_7 {
	position: absolute;
	width: 15px;
	height: 30px;
	left: 121px;
	top: 0px;
	overflow: visible;
}
#Rectangle_3_cz {
	position: absolute;
	width: 15px;
	height: 30px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_5_c {
	fill: rgba(255,255,255,1);
}
.Path_5_c {
	overflow: visible;
	position: absolute;
	width: 15px;
	height: 30px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_6_c {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_6_c {
	overflow: visible;
	position: absolute;
	width: 15px;
	height: 30px;
	left: 0.5px;
	top: 0.5px;
	transform: matrix(1,0,0,1,0,0);
}
#arrow_drop_down_FILL0_wght400__c {
	fill: rgba(0,0,0,1);
}
.arrow_drop_down_FILL0_wght400__c {
	overflow: visible;
	position: absolute;
	width: 10px;
	height: 5px;
	left: 2.5px;
	top: 12.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_20_c {
	position: absolute;
	width: 70px;
	height: 30px;
	left: 493px;
	top: 23px;
	overflow: visible;
}
#Rectangle_10_c {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_10_c {
	position: absolute;
	overflow: visible;
	width: 70px;
	height: 30px;
	left: 0px;
	top: 0px;
}
#MY_FACILITY__c {
	left: 8px;
	top: 1px;
	position: absolute;
	overflow: visible;
	width: 38px;
	white-space: nowrap;
	text-align: left;
	font-family: Oswald;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(0,0,0,1);
}
#Group_2 {
	position: absolute;
	width: 15px;
	height: 30px;
	left: 55px;
	top: 0px;
	overflow: visible;
}
#Rectangle_3_c {
	position: absolute;
	width: 15px;
	height: 30px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_7_c {
	fill: rgba(255,255,255,1);
}
.Path_7_c {
	overflow: visible;
	position: absolute;
	width: 15px;
	height: 30px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_8_c {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_8_c {
	overflow: visible;
	position: absolute;
	width: 15px;
	height: 30px;
	left: 0.5px;
	top: 0.5px;
	transform: matrix(1,0,0,1,0,0);
}
#arrow_drop_down_FILL0_wght400__da {
	fill: rgba(0,0,0,1);
}
.arrow_drop_down_FILL0_wght400__da {
	overflow: visible;
	position: absolute;
	width: 10px;
	height: 5px;
	left: 2.5px;
	top: 12.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_1_db {
	position: absolute;
	width: 112px;
	height: 31px;
	left: 598px;
	top: 22px;
	overflow: visible;
}
#Rectangle_4 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_4 {
	position: absolute;
	overflow: visible;
	width: 112px;
	height: 30px;
	left: 0px;
	top: 1px;
}
#Search {
	left: 42px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 60px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(112,112,112,1);
}
#search_FILL0_wght400_GRAD0_ops {
	fill: rgba(0,0,0,1);
}
.search_FILL0_wght400_GRAD0_ops {
	overflow: visible;
	position: absolute;
	width: 20.001px;
	height: 20.001px;
	transform: translate(-451.683px, 56px) matrix(1.0005,0,0,1.0005,459.0016,-49.0036) rotate(-4.012deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Group_44 {
	position: absolute;
	width: 75px;
	height: 66px;
	left: 0px;
	top: 405px;
	overflow: visible;
}
#Rectangle_32 {
	fill: rgba(5,25,35,1);
}
.Rectangle_32 {
	position: absolute;
	overflow: visible;
	width: 75px;
	height: 66px;
	left: 0px;
	top: 0px;
}
#Path_26 {
	fill: rgba(255,255,255,1);
}
.Path_26 {
	overflow: visible;
	position: absolute;
	width: 20px;
	height: 20px;
	left: 28px;
	top: 18px;
	transform: matrix(1,0,0,1,0,0);
}
#WorkOrders {
	left: 7.316px;
	top: 40px;
	position: absolute;
	overflow: visible;
	width: 61px;
	white-space: nowrap;
	text-align: left;
	font-family: Oswald;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(255,255,255,1);
}
#Rectangle_33 {
	fill: rgba(217,217,217,1);
}
.Rectangle_33 {
	position: absolute;
	overflow: visible;
	width: 1205px;
	height: 170px;
	left: 75px;
	top: 75px;
}
#Group_46 {
	position: absolute;
	width: 642.125px;
	height: 40px;
	left: 105px;
	top: 154px;
	overflow: visible;
}
#Search_Box {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Search_Box {
	position: absolute;
	overflow: visible;
	width: 431px;
	height: 40px;
	left: 0px;
	top: 0px;
}
#SEARCH_ASSETS_BY_ASSET_SERIAL_ {
	left: 7.125px;
	top: 8px;
	position: absolute;
	overflow: visible;
	width: 636px;
	white-space: nowrap;
	text-align: left;
	font-family: Oswald;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(153,153,153,1);
}
#ASSETS {
	left: 105px;
	top: 101px;
	position: absolute;
	overflow: visible;
	width: 75px;
	white-space: nowrap;
	text-align: left;
	font-family: Oswald;
	font-style: normal;
	font-weight: normal;
	font-size: 27px;
	color: rgba(0,0,0,1);
}
#Group_47 {
	position: absolute;
	width: 40px;
	height: 40px;
	left: 546px;
	top: 154px;
	overflow: visible;
}
#Rectangle_34 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_34 {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 0px;
	top: 0px;
}
#search_FILL0_wght400_GRAD0_ops_dq {
	fill: rgba(0,0,0,1);
}
.search_FILL0_wght400_GRAD0_ops_dq {
	overflow: visible;
	position: absolute;
	width: 25.001px;
	height: 24.996px;
	left: 8.999px;
	top: 8.004px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_48 {
	position: absolute;
	width: 106px;
	height: 41px;
	left: 1140px;
	top: 19px;
	overflow: visible;
}
#Rectangle_5_ds {
	fill: rgba(255,255,255,1);
	stroke: rgba(0,166,251,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_5_ds {
	position: absolute;
	overflow: visible;
	width: 106px;
	height: 41px;
	left: 0px;
	top: 0px;
}
#NEW_ASSET {
	left: 19px;
	top: 9px;
	position: absolute;
	overflow: visible;
	width: 67px;
	white-space: nowrap;
	text-align: left;
	font-family: Oswald;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(52,152,216,1);
}
#Group_52 {
	position: absolute;
	width: 75px;
	height: 75px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_39 {
	position: absolute;
	width: 75px;
	height: 75px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_16 {
	fill: rgba(5,130,202,1);
}
.Path_16 {
	overflow: visible;
	position: absolute;
	width: 75px;
	height: 75px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#chevron_right_FILL0_wght400_GR {
	fill: rgba(255,255,255,1);
}
.chevron_right_FILL0_wght400_GR {
	overflow: visible;
	position: absolute;
	width: 10px;
	height: 10px;
	left: 58px;
	top: 33px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_51 {
	position: absolute;
	width: 24px;
	height: 24px;
	left: 26px;
	top: 26px;
	overflow: visible;
}
#Path_21 {
	fill: transparent;
}
.Path_21 {
	overflow: visible;
	position: absolute;
	width: 24px;
	height: 24px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_22 {
	fill: rgba(255,255,255,1);
}
.Path_22 {
	overflow: visible;
	position: absolute;
	width: 18px;
	height: 22px;
	left: 3px;
	top: 1px;
	transform: matrix(1,0,0,1,0,0);
}